<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @area.id_area %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @area.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">IdArea</div>
            <div class="itemValue"><%= @area.id_area %></div>
          </li>
      
          <li>
            <div class="itemLabel">Area</div>
            <div class="itemValue"><%= @area.area %></div>
          </li>
      
          <li>
            <div class="itemLabel">Descricao</div>
            <div class="itemValue"><%= @area.descricao %></div>
          </li>
      
    </ul>
  </div>

</div>
