<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @curso_pref_regional.object %>
    <h1>Edit <%= @curso_pref_regional.id_estabelecimento%></h1>
    <%= link_to "Delete", :action => :delete, :id => @curso_pref_regional.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @curso_pref_regional.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Id estabelecimento: </td>
              <td class="itemValue"><input type="text" name="curso_pref_regional[id_estabelecimento]" value="<%= @curso_pref_regional.id_estabelecimento %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Id curso: </td>
              <td class="itemValue"><input type="text" name="curso_pref_regional[id_curso]" value="<%= @curso_pref_regional.id_curso %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Id distrito: </td>
              <td class="itemValue"><input type="text" name="curso_pref_regional[id_distrito]" value="<%= @curso_pref_regional.id_distrito %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Percentagem: </td>
              <td class="itemValue"><input type="text" name="curso_pref_regional[percentagem]" value="<%= @curso_pref_regional.percentagem %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
