<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @v_curso.id_estabelecimento %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @v_curso.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">IdEstabelecimento</div>
            <div class="itemValue"><%= @v_curso.id_estabelecimento %></div>
          </li>
      
          <li>
            <div class="itemLabel">IdDistrito</div>
            <div class="itemValue"><%= @v_curso.id_distrito %></div>
          </li>
      
          <li>
            <div class="itemLabel">Curso</div>
            <div class="itemValue"><%= @v_curso.curso %></div>
          </li>
      
          <li>
            <div class="itemLabel">Grau</div>
            <div class="itemValue"><%= @v_curso.grau %></div>
          </li>
      
          <li>
            <div class="itemLabel">Estabelecimento</div>
            <div class="itemValue"><%= @v_curso.estabelecimento %></div>
          </li>
      
    </ul>
  </div>

</div>
